
* {
  box-sizing: border-box;
}

.header {background-color: cyan;}

.row {
  display: flex;
}



}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.flex-container {
  width: 100%;
  margin: 1px;
  height: auto;  
}

  
 body {background-color: lightcyan; font-family: Arial; font-weight: bold; font-size: 15px; background-image: url("Carrefour.jpeg");}
h1 {font-size: 40px; color: tomato; }
h2 {font-size: 30px; color: tomato; }
p {font-size: 20px; font-weight: bold; color: white;}

main {text-align: center; }

/*Set the width and margins of the menu:*/
#mainMenu {
	margin: 10px;
	width: 900px;
	font-family: sans-serif;
}
/*Setting the width prevents the menu from wrapping when the user shrinks the browser window.
Set the list items to display as blocks, give them a width, and float them to the left so that they'll each display to the right of the preceding item.*/

#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}
/*Change the a elements to block elements. We'll also add some formatting styles and remove the underline with text-decoration: none.*/

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}
			
/*Finally, change the hover state of the links so that they highlight when a user points to them.*/

#mainMenu a:hover {
	background-color:#009;
	color:#fff;
}
/*The finished CSS should look like the following:*/

#mainMenu {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#mainMenu a:hover {
	background-color:#009;
	color:#fff;
}

#footer {position: fixed;
  left: 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;}
  
  .footer {position: fixed;
        left: 0;
		bottom: 0;
	    width: 100%;
        height: 10%;
        background-color: black;
        display: flex;
        background-size: 100%;
        justify-content: space-between;
		
    }
	
	.footer p {
        color: white;
        font-size: 1.25em;
    }


		
	
	
	

